@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap%27');
* {
    font-family: 'Mochiy Pop One', sans-serif;
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;

}
.personality {
    display: "none";
}
form {
    text-align: center;
    background-color: #fff;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}
.form-control {
    text-align: left;
    margin-bottom: 25px;
}
.form-control label {
    display: block;
    margin-bottom: 10px;
    padding: 5px 10px 0px 10px;
}
.form-control input,.form-control select,.form-control textarea {
    border: 1px solid #777;
    border-radius: 20px;
    font-family: inherit;
    padding: 10px;
    display: block;
    width: 95%;
}
.form-control input[type="radio"],.form-control input[type="checkbox"] {
    display: inline-block;
    width: 20px;
    height: 20px;
}
.submit_B {
    background-color: orange;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    font-size: 25px;
    height: 55px;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.box {
    border-radius: 20px;
    width: 100%;
}
.box select {
    border-radius: 10px;
    background-color: orange;
    padding: 12px;
    width: 500px;
    border: none;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    width: 80%;
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
}
.box:hover::before {
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(19, 18, 18, 0.2);
}
.form-control {
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 1px #3f3f41;
}
.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 30px;
    color: #fff;
    font-size: 20%;
    text-shadow: #777 2px;
    font-family: 'Mochiy Pop One', sans-serif;
}
input #recommed-1 {
    width: 30px;
    height: 30px;
}
.bi-arrow-down-circle:hover {
    background-color: #5c8f9a;
    border-radius: 50%;
}
.bi-arrow-up-circle:hover {
    background-color: #c2daa9;
    border-radius: 50%;
}
.site-footer,.page-wrap:after {
    text-align: center;
    padding: 1%;
    color: aliceblue;
    margin-top: 5%;
    width: 100%;

}
.site-footer {
    background: black;
    position: sticky;
    width: 100%;
}
